body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-size: 21px;
    color: gray;
}

h3 {
    text-align: right;
    color: gray;
    font-weight: normal;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video {
    position: relative;
    top: 20px;
}

.cellLogo{
    padding-top: 20px;

}